[submodule "popcorn-maker"]
	path = popcorn-maker
	url = git@github.com:larascasse/popcorn-maker.git
[submodule "Pantaloons"]
	path = Pantaloons
	url = git@github.com:larascasse/Pantaloons.git
[submodule "site/lib/popcorn"]
	path = site/lib/popcorn
	url = git@github.com:larascasse/popcorn-js.git
[submodule "butter"]
	path = butter
	url = git@github.com:larascasse/butter.git
[submodule "site/lib/external/isotope"]
	path = site/lib/external/isotope
	url = https://github.com/desandro/isotope.git
[submodule "libs_php/arc2"]
	path = libs_php/arc2
	url = https://github.com/semsol/arc2.git
[submodule "site/lib/external/typewriter.js"]
	path = site/lib/external/typewriter.js
	url = git@github.com:larascasse/typewriter.js.git
